<h3> Can you believe it? Apache2 is running </h3>
<p> This is the hostname: {{ansible_host}} </p>
<h2> Buddy, this is the change </h2>
<br/>
<p> Current time is: {{ansible_date_time.date}}: {{ansible_date_time.time}}
